.wrapper p {
  margin: 2rem;
  
  text-align: center;
}

.site-name {
  font-size: 3rem;
}

h1 {
  text-align: center;
}

.login {
  margin-left: 35vw;
}

.register {
  margin-left: 35vw;
}

footer {
  width: 100%;
  padding: .5rem;
  
  background-color: grey;
  color: white;

  text-align: center;
}