<!DOCTYPE html>
<html lang="en-US">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <div class="wrapper">
      <%- include('../partials/header') %>
    </div> 
    <main>
      <section id="gallery"></section>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
